.gallery {
  display: inline;
  position: relative;
  margin-top: 3%;
  margin-left:5%;
  margin-right: 5%;
  float: left;
  width: 850px;
  height: 600px;
  z-index: 900;
  animation: fadeInAnimation ease 3s;
}


.imageMeatadata{
  display: inline;
  position: relative;
  margin-top: 3%;
  border: none;
  background-color: #fff;
  float: left;
  width: 30%;
  height: 600px;
  animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}


#shared{
    font-size: 12px;
    margin-left : 1%;
}

#sharedWith{
    font-size: 12px;
    margin-left : 1%;
}
#sharedStatus{
    display:none;
    font-size: 12px;
    margin-left : 1%;
    color: #6EAA01;
    margin-right:1%;
}

#download{
    margin-left : 1%;
}

#downloadImage{
    text-decoration: none;
    margin-left : 1%;
    color: #0000FF;
    font-size: 20px;
}

#caption{
    margin-left : 0.5%;
    background-color: #ffff;
    width: 98%;
    height: 20%;
    z-index: 900;
}

#dateposted{
    margin : 1%;
    font-size: 12px;
}

#geoLocation{
    margin : 1%;
    font-size: 12px;
    color:blue;
}

#usernameHeading{
    margin : 1%;
    font-size: 30px;
    color: #545454;
}


.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

#next{
    display:block;
    background-color: #DFDFDF;
    position: fixed;
    top: 10%;
    right: 0%;
    width: 2%;
    height: 100%;
    opacity: 90%;
    z-index: 900;
    border-left: solid 0.1rem rgb(173, 173, 173);
    box-shadow: 0px 2px 3px  #13293d;
    animation: fadeInAnimation ease 0.1s;
}

#labelNext{
    position:fixed;
    top: 50%;
    font-size: 40px;
    left: 95.6%;
    animation: fadeInAnimation ease 0.1s;
}

#labelPrevious{
    position:fixed;
    top: 50%;
    font-size: 40px;
    left: -2.3%;
    animation: fadeInAnimation ease 0.1s;
}


#previous{
    display:block;
    background-color: #DFDFDF;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 2%;
    height: 100%;
    opacity: 90%;
    z-index: 900;
    border-right: solid 0.1rem rgb(173, 173, 173);
    box-shadow: 0px 2px 3px  #13293d;
    animation: fadeInAnimation ease 0.1s;
}

#messageAboutDownloadLabel{
    float: left;
}

#changeCaptionDiv{
    position:fixed;
    top: 23%;
    left: 35%;
    display:none;
    width: 32%;
    height: auto;
    border: solid 0.1rem #000;
    z-index: 1500;
    background-color: #000;
    opacity: 70%;
    border-radius: 20px;
}

#changeGeolocationDiv{
    position:fixed;
    top: 23%;
    left: 35%;
    display:none;
    width: 32%;
    height: auto;
    border: solid 0.1rem #000;
    z-index: 1500;
    background-color: #000;
    opacity: 70%;
    border-radius: 20px;
}

.buttonSubmitNewCaption {
    background-color: #000;
    margin: auto;
    width: 85%;
    margin-bottom: 2%;
}

.btnSubmitCaption {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: #13293d;
    padding-bottom: 0.7%;
    padding-top: 0.7%;
    font-weight: bold;
    transition: all 0.5s;
    position: relative;
    text-align: center;
    text-decoration:none;
}
.btnSubmitCaption::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    border-radius: 12px;
    transition: all 0.3s;
}
.btnSubmitCaption:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btnSubmitCaption::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 12px;
    transform: scale(1.2,1.2);
}
.btnSubmitCaption:hover::after {
    opacity: 2;
    transform: scale(1,1);
}



#shareImageDiv{
    display:none;
    position:fixed;
    top: 23%;
    left: 35%;
    display:none;
    width: 32%;
    height: auto;
    border: solid 0.1rem #000;
    z-index: 1500;
    background-color: #000;
    opacity: 70%;
    border-radius: 20px;
}

#searchByName{
    position:fixed;
    top: 23%;
    left: 35%;
    display:none;
    width: 32%;
    height: auto;
    border: solid 0.1rem #000;
    z-index: 1500;
    background-color: #000;
    opacity: 70%;
    border-radius: 20px;
}

.buttonSearch {
    background-color: #000;
    margin: auto;
    width: 85%;
    margin-bottom: 2%;
}

.btnSearch {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: #13293d;
    padding-bottom: 0.7%;
    padding-top: 0.7%;
    font-weight: bold;
    transition: all 0.5s;
    position: relative;
    text-align: center;
    text-decoration:none;
}
.btnSearch::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    border-radius: 12px;
    transition: all 0.3s;
}
.btnSearch:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btnSearch::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 12px;
    transform: scale(1.2,1.2);
}
.btnSearch:hover::after {
    opacity: 2;
    transform: scale(1,1);
}

#HomeButton{
    background-color: #514B47;
    text-decoration :none;
    color: white;
    left: 10%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 30%;
}

#HomeButton:hover{
    color: #A7A7A6;
}

#SettingsButton{
    background-color: #514B47;
    text-decoration :none;
    color: white;
    left: 14%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 30.2%;
}

#SettingsButton:hover{
    color: #A7A7A6;
}

#uploadButton{
    background-color: #514B47;
    text-decoration :none;
    color: white;
    left: 13%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 30.2%;
}

#uploadButton:hover{
    color: #A7A7A6;
}

#searchButton{
    background-color: #514B47;
    text-decoration :none;
    color: white;
    left: 12.5%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 30.2%;
}

#searchButton:hover{
    color: #A7A7A6;
}

#myAccountButton{
    background-color: #514B47;
    text-decoration :none;
    color: white;
    left: 12%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 30%;
}

#myAccountButton:hover{
    color: #A7A7A6;
}

#signOutButton{
    background-color: #514B47;
    text-decoration :none;
    color: white;
    left: 62%;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    top: 30%;
}

#signOutButton:hover{
    color: #A7A7A6;
}

#DeleteImageDiv{
    position:fixed;
    top: 23%;
    left: 35%;
    display:none;
    width: 32%;
    height: auto;
    border: solid 0.1rem #000;
    z-index: 1500;
    background-color: #000;
    opacity: 70%;
    border-radius: 20px;
}

#Edit{
    float:right;
}

#EditGeolocation{
    float:right;
    color:blue;
    text-decoration: underline;
    font-size: 12px;
}

#EditGeolocation:hover{
    float:right;
    color:grey;
    text-decoration: underline;
    font-size: 12px;
}

#share{
    position:fixed;
    margin-top: 4%;
    left: 5%;
    animation: fadeInAnimation ease 3s;
}

#download{
    position:fixed;
    margin-top: 7%;
    left: 4%;
    animation: fadeInAnimation ease 3s;
}

#delete{
    position:fixed;
    margin-top: 10%;
    left: 5%;
    animation: fadeInAnimation ease 3s;
}

#Line{
    color: #C1C0C0;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

#imageFromAccount{
    border:solid 0.1rem #ffff;
    width: 100%;
    height: 580px;
}

#linkToImages{
    display:none;
}

