#createNewAccountDiv1{
    display = inline;
    width: 80%;
    height: 60%;
    background-color: #ffffff;
    position: relative;
    top: 10%;
    left: 12%;
    border-radius: 30px;
    border: none;
    border-top: solid 0.01rem #13293d;
    box-shadow: 0px 15px 12px #13293d;
    opacity: 92%;
}
#createNewAccountDiv2{
    display: inline;
    width: 32%;
    height: 70%;
    background-color: #ffffff;
        left: 35%;
    position: fixed;
    top: 18%;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 15px 12px #13293d;
    opacity: 92%;
}

/* Create Account */
.signInDiv{
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.linkToSignIn:hover{
    color: rgb(54, 54, 54);
}
.linkToSignIn{
    color: blue;
    text-decoration: underline;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border: none;
    padding-right: 0%;
    padding-left: 0%;
}
.lableForSignIn{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}