#display_image{
    background-color: #fffff;
    width: 25rem;
    height: 16rem;
    margin-top: 1.5%;
    margin-left: 3%;
    display: inline-flex;
    position: relative;
    border: solid 0.1rem #000;

}

#img{
    background-color: #fffff;
    border: solid 0.1rem #000;
    width: 60rem;
    height: 30rem;
    margin-top: 1.5%;
    margin-left: 3%;
    display: inline-flex;
    position: fixed;
}


#buttondownload{
    position: fixed;
    bottom: 10%;
    margin-left:1%;
}
#downloadimage {
    background-color: #504F4E ;
    border: solid 0.1rem #AFAFAF;
    color: white ;
    font-size:20px;
    border-radius: 70px;
    width: 100%;
    height: 10%;
    bottom: 0px;
}

#downloadimage:hover{
    background-color: white;
    color: #504F4E;
}

#buttonAdd{
    position: fixed;
    bottom: 10%;
    right: 15%;
    margin-left:1%;
}
#addimage {
    background-color: #504F4E ;
    border: solid 0.1rem #AFAFAF;
    color: white ;
    font-size:20px;
    border-radius: 70px;
    width: 100%;
    height: 10%;
    bottom: 0px;
}

#addimage:hover{
    background-color: white;
    color: #504F4E;
}

#buttondelete{
    position: fixed;
    bottom: 10%;
    right: 9.5%;
    margin-left:1%;
}
#deleteimage {
    background-color: #504F4E ;
    border: solid 0.1rem #AFAFAF;
    color: white ;
    font-size:20px;
    border-radius: 70px;
    width: 100%;
    height: 10%;
    bottom: 0px;
}

#deleteimage:hover{
    background-color: white;
    color: #504F4E;
}


#AddImageDiv{
    position:fixed;
    top: 23%;
    left: 35%;
    display:none;
    width: 32%;
    height: auto;
    border: solid 0.1rem #000;
    z-index: 1500;
    background-color: #000;
    opacity: 70%;
    border-radius: 20px;
}

#imagepathLabel{
    color: #fff;
}

.buttonSubmitImagePath {
    background-color: #000;
    margin: auto;
    width: 85%;
    margin-bottom: 2%;
}


.btnSubmitImagePath {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: #13293d;
    padding-bottom: 0.7%;
    padding-top: 0.7%;
    font-weight: bold;
    transition: all 0.5s;
    position: relative;
    text-align: center;
    text-decoration:none;
}
.btnSubmitImagePath::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    border-radius: 12px;
    transition: all 0.3s;
}
.btnSubmitImagePath:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btnSubmitImagePath::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 12px;
    transform: scale(1.2,1.2);
}
.btnSubmitImagePath:hover::after {
    opacity: 2;
    transform: scale(1,1);
}

#downloadOnHomePage{
    position:fixed;
    margin-top: 4%;
    left: 5%;
    animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#nextHomePage{
    display:block;
    background-color: #DFDFDF;
    position: fixed;
    top: 10%;
    right: 0%;
    width: 2%;
    height: 100%;
    opacity: 90%;
    z-index: 900;
    border-left: solid 0.1rem rgb(173, 173, 173);
    box-shadow: 0px 2px 3px  #13293d;
    animation: fadeInAnimation ease 0.1s;
}

#labelNextHomePage{
    position:fixed;
    top: 50%;
    font-size: 40px;
    left: 95.6%;
    animation: fadeInAnimation ease 0.1s;
}

#labelPreviousHomePage{
    position:fixed;
    top: 50%;
    font-size: 40px;
    left: -2.3%;
    animation: fadeInAnimation ease 0.1s;
}


#previousHomePage{
    display:block;
    background-color: #DFDFDF;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 2%;
    height: 100%;
    opacity: 90%;
    z-index: 900;
    border-right: solid 0.1rem rgb(173, 173, 173);
    box-shadow: 0px 2px 3px  #13293d;
    animation: fadeInAnimation ease 0.1s;
}

#imageFromAccountHomePage{
    border:solid 0.1rem #ffff;
    width: 100%;
    height: 580px;
}

#captionHomepage{
    margin-left : 0.5%;
    background-color: #ffff;
    width: 98%;
    height: 20%;
    z-index: 900;
}

#sharedHomePage{
    font-size: 12px;
    margin-left : 1%;
}

#sharedWithHomePage{
    font-size: 12px;
    margin-left : 1%;
}

#datepostedHomePage{
    margin : 1%;
    font-size: 12px;
}

#geoLocationHomePage{
    margin : 1%;
    font-size: 12px;
    color:blue;
}

