.settingOptions{
    width: 20%;
    height: 100%;
    border-right: solid 0.1rem rgb(173, 173, 173);
    border-left: solid 0.1rem rgb(24, 13, 13);
    border-bottom: none;
    border-top: none;
    border-left: none;
    position: fixed;
    top: 10.5%;
    float: left;
    box-shadow: 0px 2px 3px  #13293d;
    left: 0px;
    animation: fadeInAnimation ease 3s;
}

.personalInfoDiv{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-top: solid 0.1rem rgb(185, 184, 184) ;
    border-bottom: solid 0.1rem rgb(185, 184, 184) ;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-left: 0cm;
    margin-right: 0cm;
    float: left;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #fff8f8;
    color:  #13293d;
    animation: fadeInAnimation ease 3s;

}
.personalInfoDiv:hover{
    background-color: #bc5f04;
    color: #fff;
    box-shadow: 0px 10px 12px #13293d;
    border-left: solid 0.5rem #13293d;
}
.personalInfoDiv:active{
    background-color: #13293d;
}
.personalInfoDiv:focus{
    background-color: #bc5f04;
    color: #fff;
    box-shadow: 0px 10px 12px #13293d;
    border-left: solid 0.5rem #13293d;
}
.account{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-bottom: solid 0.1rem rgb(185, 184, 184) ;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    margin-left: 0cm;
    margin-right: 0cm;
    float: left;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #fff8f8;
    color:  #13293d;
    margin-top: 5%;
    margin-bottom: 5%;
    animation: fadeInAnimation ease 3s;
}
.account:hover{
    background-color: #bc5f04;
    color: #fff;
    box-shadow: 0px 10px 12px #13293d;
    border-left: solid 0.5rem #13293d;
}
.account:active{
    background-color: #13293d;
}
.account:focus{
    background-color: #bc5f04;
    color: #fff;
    box-shadow: 0px 10px 12px #13293d;
    border-left: solid 0.5rem #13293d;
}
.profile{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-bottom: solid 0.1rem rgb(185, 184, 184) ;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    margin-left: 0cm;
    margin-right: 0cm;
    float: left;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #fff8f8;
    color:  #13293d;
    margin-top: 5%;
    animation: fadeInAnimation ease 3s;
}
.profile:hover{
    background-color: #bc5f04;
    color: #fff;
    box-shadow: 0px 10px 12px #13293d;
    border-left: solid 0.5rem #13293d;
}
.profile:active{
    background-color: #13293d;
}
.profile:focus{
    background-color: #bc5f04;
    color: #fff;
    box-shadow: 0px 10px 12px #13293d;
    border-left: solid 0.5rem #13293d;
}
.SignOut{
    float: right;
    margin-right: 1%;
    margin-top: 17%;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #fff8f8;
    color:  #13293d;
    text-decoration: none;
}
.SignOut:hover{
    color: rgb(126, 126, 126);
    box-shadow: 0px 10px 12px #ffffff;
    border-left: solid 0.5rem #ffffff;
}

.personalInformation{
    display: none;
    width: 100%;
    height: 100%;
    border-left: solid 0.1rem rgb(24, 13, 13);
    border-bottom: none;
    border-top: none;
    border-left: none;
    position: fixed;
    left: 20% ;
    top: 10.5%;
    float: left;
    text-align: left;
    animation: fadeInAnimation ease 3s;
}

.Account{
    display: none;
    width: 100%;
    height: 100%;
    border-left: solid 0.1rem rgb(24, 13, 13);
    border-bottom: none;
    border-top: none;
    border-left: none;
    position: fixed;
    left: 20% ;
    top: 10.5%;
    float: left;
    text-align: left;
    animation: fadeInAnimation ease 3s;
}

.profileDiv{
    display: none;
    width: 100%;
    height: 100%;
    border-left: solid 0.1rem rgb(24, 13, 13);
    border-bottom: none;
    border-top: none;
    border-left: none;
    position: fixed;
    left: 20% ;
    top: 10.5%;
    float: left;
    text-align: left;
    animation: fadeInAnimation ease 3s;
}


.heading{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:  #13293d;
}

.inputBox{
    border: solid 0.1rem rgb(209, 207, 207);
    background-color: #fff8f8 ;
    width: 90%;
    padding-top: 0.5%;
    margin-top: 0cm;
}

.labelsForForm{
    padding-left: 0%;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    text-align: left;
}

#memberOf{
    padding-left: 0%;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    margin-left: 10%;
    text-align: left;
}

.settingsLineOne{
    margin-left: 2.5%;
    position: relative;
    width: 30%;
    background-color: #fff8f8;
    display: inline-block;

}
.settingsLineTwo{
    margin-top: 1.5%;
    margin-left: 2.5%;
    position: relative;
    width: 30%;
    background-color: #fff8f8;
    display: inline-block;
}

.settingsLineThree{
    margin-top: 1.5%;
    margin-left: 2.5%;
    position: relative;
    width: 30%;
    background-color: #fff8f8;
    display: inline-block;

}

#btnUpdate{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 1.5%;
    background-color: #fff8f8;
    border: solid 0.1rem rgb(209, 207, 207);
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 0.2%;
    border-radius: 12px;
    color:  #13293d;
}
#btnUpdate:hover{
    background-color: #bc5f04 ;
    color: #fff;
    box-shadow: 0px 10px 12px #13293d;
}

.btnCancel:hover{
    background-color: #bc5f04 ;
    color: #fff;
    box-shadow: 0px 10px 12px #13293d;
}
.btnCancel{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #fff8f8;
    border: solid 0.1rem rgb(209, 207, 207);
    color: black;
    text-decoration: none;
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 0.2%;
    border-radius: 12px;
    color:  #13293d;
}

#image1{
    border: solid 0.1rem rgb(209, 207, 207);
    background-color: #fff8f8;
    width: 90%;
    height 50%;
    padding-top: 0.5%;
    margin-top: 0cm;
    padding-left: 0%;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    text-align: left;
    margin-left: 7%
}

#image2{
    border: solid 0.1rem rgb(209, 207, 207);
    background-color: #fff8f8 ;
    width: 90%;
    height 50%;
    padding-top: 0.5%;
    margin-top: 0cm;
    padding-left: 0%;
    padding-bottom: 0.5%;
    margin-bottom: 1%;
    text-align: left;
}

#personIcon{
   // box-shadow: 0px 2px 3px  #13293d;
    margin-left: 23%;
    border-radius: 70%;
  //  border:solid 0.01rem rgb(173, 173, 173);
    width: 50%;
    height: auto;
    animation: fadeInAnimation ease 3s;
}

#imageProfile{
    margin: 0px;
    border-radius: 70%;
    box-shadow: 0px 2px 3px  #13293d;
    animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#MemberOf{
    display:none;
}

#Bio{
    display:none;
}

#Number{
    display:none;
}

#Surname{
    position:relative;
}

#Name{
    position:relative;
}