.SignInBox{
    width: 32%;
    height: 50%;
    background-color: #ffffff;
    position: fixed;
    top: 23%;
    left: 35%;
    border-radius: 30px;
    border: solid 0.1rem #D0D0D0;
    box-shadow: 0px 15px 12px #13293d;
    opacity: 100%;
    z-index: 900;

    }

.backgroundGrey{
    width: 55%;
    height: 100%;
    background-color: #B1B0AE;
    position: fixed;
    top: 6%;
    left: 60%;
    border-radius: 30px;
    border: none;
  /*  box-shadow: 0px 15px 12px #13293d; */
    opacity: 92%;
    z-index: 800;
}
.backgroundWhite{
    width: 60%;
    height: 100%;
    background-color: #B1B0AE;
    position: fixed;
    top: 6%;
    left: 0%;
    border-radius: 30px;
    border: none;
 /*   box-shadow: 0px 15px 12px #13293d; */
    opacity: 92%;

    }
h1{
    text-align: center;
    color: #40403F;
    font-family: Arial, Helvetica, sans-serif;
}


label{
    color: #585858;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 40px;
}

input {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 45px;
    margin-bottom: 6%;
    margin-top: 3%;
    border-bottom: solid 0.005rem #5b616a;
    border-top: none;
    border-left: none;
    border-top: none;
    border-right: none;
    width: 80%
}



.forgotPasswordDiv{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
.forgotPassword{
    color: blue;
    font-size: 10px;
    background-color: #ffffff;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
.forgotPassword:hover{
    color: rgb(54, 54, 54);
}


.createAccount{
    text-align: center;
}
.linkToCreateAccount:hover{
    color: rgb(54, 54, 54);
}
.linkToCreateAccount{
    color: blue;
    text-decoration: underline ;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    border: none;
    padding-right: 0%;
    padding-left: 0%;
}
.labelForCreateAccount{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.btnLogin {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    border-radius: 12px;
    border: none;
    background-color: #3E3F3C;
    padding-bottom: 0.7%;
    padding-top: 0.7%;
    font-weight: bold;
    transition: all 0.5s;
    position: relative;
    text-align: center;
    text-decoration:none;
}
.btnLogin::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    border-radius: 12px;
    transition: all 0.3s;
}
.btnLogin:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}
.btnLogin::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 12px;
    transform: scale(1.2,1.2);
}
.btnLogin:hover::after {
    opacity: 2;
    transform: scale(1,1);
}

.buttonLogin {
    background-color: #ffffff;
    margin: auto;
    width: 85%;
}

#incorrectUsernameAndPassword{
    display:none;
    color: red;
    font-size: 10px;
    background-color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

