body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  animation: fadeInAnimation ease 3s;
}

a {
  color: #00B7FF;
}

#Header{
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: #514B47;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    left: 0px;
    top: 0px;
    border-bottom: solid 0.2rem #2e2c2f;
    border-top: solid 0.1rem #2e2c2f;
    z-index: 1000;
    animation: fadeInAnimation ease 0.2s;
}


  .dropbtn {
    background-color: #514B47;
    color: white;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 26px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-right: 0px;
  }

  .dropdown {
    background-color: #514B47;
    float: right;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 7%;
    border-bottom: solid 0.2rem #2e2c2f;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #514B47;
    color: white;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
      background-color: #ddd;
      color: black;
    }

  .dropdown:hover .dropdown-content {
      display: block;
    }

  .dropdown:hover .dropbtn {
      color: black;
    }

#Footer{
    width: 100%;
    height: 6%;
    position: fixed;
    background-color: #5f5f5f;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    left: 0px;
    bottom: 0px;
    border-top: solid 0.1rem #2e2c2f;
    animation: fadeInAnimation ease 3s;
}
#footerNote{
    color: #8d8f91;
    bottom: 2px;
    font-size: 9px;

}

#caption{
    background-color: black;
    width: 25rem;
    height: 16rem;
    margin-top: 1.5%;
    margin-left: 3%;
    display: inline-flex;
    position: relative;
}



#head {
background-color: rgb(228, 24, 24);
color: #8d8f91;
    bottom: 2px;
    font-size: 9px;
}

#logo{
    background-color: white;
    margin-left: 1%;
    width: 6%;
    height: 6.5%;
    position: fixed;
    text-align:center;
    padding-top: 1.5%;
    font-family: Times New Roman, Times, serif;
    font-size: 20px;
    text-decoration :none;
    color: #000000;
    border:none;
    box-shadow: 0px 8px 2px 0px rgba(0,0,0,0.2);
    animation: fadeInAnimation ease 3s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}