extends layout

block content
   #Header
    a#logo(href='/home') HA
    a#HomeButton(href='/home') Home
    a#myAccountButton(href='/account') My Account
    a#SettingsButton(href='/Settings') Settings
    label#uploadButton(onclick='AddImageClick()') Upload Image
    label#searchButton(onClick="searchByName()") Search
    a#signOutButton(href='/') Sign Out

   h1#linkToImages= images

   .gallery
     img#imageFromAccount
     .desc

   .imageMeatadata
     label#usernameHeading Username
     br
     label#Line ________________________________
     br
     br
     img#Edit(src='https://savingimagesfortheuser.s3.amazonaws.com/edit.PNG' width="30" height="30" onClick="changeCaption()")
     label#caption
     br
     label#EditGeolocation(width="30" height="30" onClick="changeGeolocation()") Edit geolocation
     label#geoLocation geolocation display
     br
     br
     br
     br
     label#shared Shared status:
     br
     label#sharedWith
     br
     label#dateposted Posted on: 22 January 2021


   #DeleteImageDiv
      form(action='http://localhost:3000/account' method='post' onsubmit="return validateFormDelete()")
        label Delete Image
        div
        input#deleteInput(readonly type='text' name='pictureToDelete' placeholder='Enter the name of the image' )
        button.btnLogin(type="submit") Delete
      br
      button.btnSubmitCaption(onClick="cancelAccount()") Cancel

   #changeCaptionDiv
     form(action='http://localhost:3000/ChangeCaption' method='post')
       label Change Caption
       div
       input#ChangeCaption(type='text' name='NewCaption' placeholder='Enter the new caption' )
       input#ChangeCaptionImageName(readonly type='text' name='imagename' placeholder='Enter the new caption' )
       .buttonSubmitNewCaption
         button.btnSubmitCaption(type="submit" onClick="updateCaption()") Update Caption
     .buttonSubmitNewCaption
       button.btnSubmitCaption(onClick="cancelAccount()") Cancel

   #changeGeolocationDiv
     form(action='http://localhost:3000/ChangeGeolocation' method='post')
       label Change Geolocation
       div
       input#ChangeGeolocation(type='text' name='NewGeolocation' placeholder='Enter the new geolocation' )
       input#ChangeGeolocationImageName(readonly type='text' name='imagename')
       .buttonSubmitNewCaption
         button.btnSubmitCaption(type="submit" onClick="updateGeolocation()") Update Geolocation
     .buttonSubmitNewCaption
       button.btnSubmitCaption(onClick="cancelAccount()") Cancel

   #shareImageDiv
     form(action='http://localhost:3000/Share' method='post' onsubmit="return validateFormShare()")
       label#imagepathLabel Share
       br
       input#emailToShare(type='text' name='EmailToShare' placeholder='Enter the email of the person to share to' )
       input#imageToShare(readonly type='text' name='imageToShare' placeholder='Enter the path to the picture to share' )
       input#ChangeImageNameShare(readonly type='text' name='UpdateSharedStatus' placeholder='Enter the name of the image')
       .buttonSubmitNewCaption
          button.btnSubmitCaption(type="submit") Share Image
     .buttonSubmitNewCaption
       button.btnSubmitCaption(onClick="cancelAccount()") Cancel

   #searchByName
      label#imagepathLabel Search for an image by Name
      div
      input#email(type='text' name='picturePath' placeholder='Enter the the name of the image' )
      .buttonSearch
         button.btnSearch(onClick="search()") Search
      .buttonSearch
        button.btnSearch(onClick="cancelAccount()") Cancel

   #next(onClick="next()")
     br
   label#labelNext >

   #previous(onClick="previous()")
   label#labelPrevious <

   #AddImageDiv
     form(action='http://localhost:3000/home' method='post')
        label#imagepathLabel Caption
        br
        input#newImageCaption(type='text' name='newImageCaption' placeholder='Enter the caption' )
        label#imagepathLabel Image Path
        br
        input(type="file"  accept="image/*" name="picturePathImage" id="file"  onchange="loadFile(event)")
        br
        input#PicturePath(type='text' name='picturePath' placeholder='Enter the path to the image' )
        br
        label#imagepathLabel Image Name
        br
        input#ImageNameUpload(readonly type='text' name='UploadImageName' placeholder='Enter the Image Name' )
        br
        label#imagepathLabel Image Geolocation
        br
        input#email(type='text' name='Geolocation' placeholder='Enter the path to the image' )
        .buttonSubmitImagePath
            button.btnSubmitImagePath(type="submit") Upload
     .buttonSubmitImagePath
        button.btnSubmitImagePath(onClick="cancel()") Cancel

   img#share(src='https://savingimagesfortheuser.s3.amazonaws.com/share.PNG' width="30" height="30" onClick="share()")
   a(href="/savingimagesfortheuser.s3.amazonaws.com/download.png" download)
     img#download(src='https://savingimagesfortheuser.s3.amazonaws.com/download.png' width="30" height="30")
   img#delete(src='https://savingimagesfortheuser.s3.amazonaws.com/delete.PNG' width="30" height="30" onclick='deleteImageClick()')








