extends layout

block content

    #createNewAccountDiv1
      h1 Create Account
      form(action='http://localhost:3000/createAccount' method='post' onsubmit="return validateFormCreateAccount()")
        label Username
        br
        input#email(type='email' name='username' placeholder='example@gmail.com')
        br
        label Password
        br
        input#password(type='password' name='password' placeholder='Enter your password')
        br
        label Confirm Password
        br
        input#confirmPassword(type='password' placeholder='Confirm your password')
        br
        label First Name
        br
        input#Name(type='text' name='firstName' placeholder='Enter your first name')
        br
        label Last Name
        br
        input#lastName(type='text' name='lastName' placeholder='Enter your last name')
        br
        label Phone Number
        br
        input#phoneNumber(type='text' name='phoneNumber' placeholder='Enter your phone number')
        br
        .buttonLogin
         button.btnLogin(type="submit" onclick="createAccount()") Create Account
        .signInDiv
          label.lableForSignIn Have an account?
          a.linkToSignIn(href='/') Sign In




