extends layout

block content
   #Header
     a#logo(href='/home') HA
     a#HomeButton(href='/home') Home
     a#myAccountButton(href='/account') My Account
     a#SettingsButton(href='/Settings') Settings
     label#uploadButton(onclick='AddImageClick()') Upload Image
     label#searchButton(onClick="searchByName()") Search
     a#signOutButton(href='/') Sign Out

   h1#name= name

   .gallery
     img#imageFromAccountHomePage
     .desc

   img#downloadOnHomePage(src='https://savingimagesfortheuser.s3.amazonaws.com/download.png' width="30" height="30")

   .imageMeatadata
     label#usernameHeading
     br
     label#Line ________________________________
     br
     br
     label#captionHomepage
     br
     br
     label#geoLocationHomePage geolocation display
     br
     label#sharedHomePage Shared status:
     br
     label#sharedWithHomePage
     br
     label#datepostedHomePage Posted on: 22 January 2021


   #nextHomePage(onClick="nextHomePage()")
     br
   label#labelNextHomePage >

   #previousHomePage(onClick="previousHomePage()")
     br
   label#labelPreviousHomePage <

   #AddImageDiv
     form(action='http://localhost:3000/home' method='post')
        label#imagepathLabel Caption
        br
        input#newImageCaption(type='text' name='newImageCaption' placeholder='Enter the caption' )
        label#imagepathLabel Image Path
        br
        input#email(type='text' name='picturePath' placeholder='Enter the path to the image' )
        br
        .buttonSubmitImagePath
           button.btnSubmitImagePath(type="submit") Upload
        .buttonSubmitImagePath
          button.btnSubmitImagePath(onClick="cancel()") Cancel

   #searchByName
      label#imagepathLabel Search for an image by Name
      div
      input#email(type='text' name='picturePath' placeholder='Enter the the name of the image' )
      .buttonSearch
         button.btnSearch(onClick="search()") Search
      .buttonSearch
        button.btnSearch(onClick="cancel()") Cancel