extends layout

block content
   #Header
     label#logo(href='/home') HA

   h1#linkToImages= images

   .SignInBox
     h1 Sign In
     form(action='http://localhost:3000/' method='post' onsubmit="return validateForm()")
        label Email
        div
        input#email(type='text' name='username' placeholder='Enter your email' )
        div
        label Password
        div
        input#password(type='password' name='password' placeholder='Enter your password')
        .buttonLogin
         button.btnLogin(type="submit" onclick="Save()") Login
     .forgotPasswordDiv
       label#incorrectUsernameAndPassword Incorrect username or password
     .createAccount
       label.labelForCreateAccount Don't have an account?
       a.linkToCreateAccount(href='/createAccount') Create Account

   .backgroundWhite
   .backgroundGrey
