doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/signin.css')
    link(rel='stylesheet', href='/stylesheets/createAccount.css')
    link(rel='stylesheet', href='/stylesheets/settings.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/account.css')

    script(src="javascripts/signIn.js")
    script(src="javascripts/createAccount.js")
    script(src="javascripts/settings.js")
    script(src="javascripts/home.js")
    script(src="javascripts/account.js")

  body
    block content
