extends layout

block content
   #Header
     a#logo(href='/home') HA
     a#HomeButton(href='/home') Home
     a#myAccountButton(href='/account') My Account

   .settingOptions
     br
     br
     div#personIcon
      image#imageProfile(src='https://savingimagesfortheuser.s3.amazonaws.com/personIcon.jpg' alt='personIcon' width="100%" height="auto")
     br
     br
     h1#Name= name
     h1#Surname= surname
     h1#Number= number
     h1#Bio= bio
     h1#MemberOf= memberOf
     button#personalInfo.personalInfoDiv(onclick='displayPersonalInfo()') Personal Information
     br
     button#profileInfo.profile(onclick='displayProfile()') Profile
     div
     br
     button.account(onclick='displayAccountSettings()') Account
     br
     a.SignOut(onclick='signOut()' href='/') Sign Out

   #personalInfoDiv.personalInformation
     h2.heading Personal Information
     div
       .settingsLineOne
         label.labelsForForm First Name
         br
         input.inputBox#name(type='text' value= name)
       .settingsLineOne
         label.labelsForForm Last Name
         br
         input.inputBox#surname(type='text')
       br
       .settingsLineTwo
         label.labelsForForm Email
         br
         input.inputBox#email(type='text')
       .settingsLineTwo
         label.labelsForForm Phone Number
         br
         input.inputBox#number(type='text')
       br
       button#btnUpdate(onclick="update()") Update
       a.btnCancel(href='/account') Cancel

   #accountSettingsDiv.Account
     h2.heading Profile
     div
       .settingsLineOne
         label.labelsForForm Username
         br
         input.inputBox#usernameForProfile(type='text')
       br
       .settingsLineTwo
        label.labelsForForm Member of
        br
        input.inputBox#memberOf(type='text')

   #profileDivID.profileDiv
     h2.heading Account Settings
     div
       .settingsLineOne
         label.labelsForForm Email
         br
         input.inputBox#emailUsername(type='text')
       br
       .settingsLineThree
         label.labelsForForm Bio
         br
         input.inputBox#bioBox(type='text' value='...')
       br
       button#btnUpdate Update
       br
       br
       form(action='http://localhost:3000/settings' method='post')
         button#btnUpdate Delete Account
       br
       a.btnCancel#btnUpdate(href='/') Cancel

   #Footer
       label#footerNote @Created by Humaira Ahmed 2021
       br
       label#footerNote Project 2 CMPG 323